# Byte-compiled files
__pycache__/
*.py[cod]

# Log files
*.log

# mitmproxy dump files
*.mitmproxy

# System files
.DS_Store
Thumbs.db

# Editor/IDE settings
.vscode/
.idea/

# Backup files
*~
*.swp

# Network tool outputs
*.pcap
*.scan
*.cap

# OS or shell history
.bash_history
.zsh_history

# Python virtual environments
venv/
env/
